*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center ;
}

.menu{
    border: 1px solid #fff; 
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    justify-content: flex-end;
}

.login{
    margin-left: 20px;
}


.header-container{
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header{
    width: 900px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social,
.logo,
.subscribe{
    border: 1px solid black;
}

.social,
.subscribe{
    align-self: flex-end;
    margin-bottom: 20px;
}

.photo-grid-container{
    display: flex;
    justify-content: center;
}

.photo-grid{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid pink;
    flex-direction: row;
}

.photo-grid-item{
    width: 300px;
    height: 300px;
}

.first-item{
    order: 1;
}

.last-item{
    order: -1;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer-item{
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}


.footer-one,
.footer-three{
    flex: initial;
    width: 300px;
    background-color: #5995DA;
}

.gap-container{
    height: 300px;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.gap-item{
    height: 50px;
    width: 50px;
    background-color: goldenrod;
    border: 2px solid brown;
}